.btn {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: color 300ms linear, background-color 300ms linear;
  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #fff;
  }
}
