.about-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    & img {
      width: 270px;
    }
  }
}

.about-item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about-content {
  max-width: 470px;
  @media screen and (min-width: 768px) {
    width: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 470px;
  }
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  color: #303030;
  margin-bottom: 20px;
  font-size: 28px;
  @media screen and (min-width: 480px) {
    width: 306px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 42px;
    width: 470px;
  }
}

.about-bottom-text {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.32px;
  color: #555;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.28px;
  color: #555;
  margin-bottom: 45px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 80px;
  }
}

.about-btn {
  color: #303030;
}
