.barbers {
  background-color: #f7f7f7;
}

.barbers-thumb {
  @media screen and (max-width: 1199px) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.barbers-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 768px) {
    // width: calc((100% - 30px) / 2);
    justify-content: center;
  }
}

.barbers-item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.barbers-item-content {
  padding-top: 30px;
}

.barbers-item-title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-text {
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #303030;
  transition: fill 300ms linear;
  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}
