.benefits-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-left: 70px;
    gap: 130px;
    justify-content: center;
    flex-direction: row;
  }
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  @media screen and (min-width: 480px) {
    gap: 0;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    padding-left: 0;
    padding-right: 0;
  }
}

.benefits-item {
  width: 193px;
  height: 133px;
  padding: 20px 35px;
  text-align: center;
  background-color: #f7f7f7;

  @media screen and (min-width: 480px) {
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(even) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 20px 44px;
    // width: calc((66% - 30px) / 2);
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    padding: 20px 24px;
    width: 170px;
  }

  .benefits-sup {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #ff6c00;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    color: #303030;
  }
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-item-text {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  color: #303030;
}
.benefits-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: #303030;
  margin-bottom: 20px;
  max-width: 450px;
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
  color: #555;
  width: 100%;
  margin-bottom: 44px;
}
