.footer {
  padding: 55px;
  background-color: #f7f7f7;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    background-color: #303030;
  }
}

.footer-link {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  color: #303030;
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
