.hero-container {
  display: flex;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.hero-link {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  color: #303030;
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

.hero-content {
  padding: 272px 100px 208px 100px;
  background-color: #1241ec;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.hero-top-text {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  color: var(--main-color);
}

.hero-bottom-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.67; /* 166.667% */
  letter-spacing: 0.36px;
  color: #9da4bd;
  max-width: 360px;
}
